# cmd to update those libs:
# cat requirements/base.txt | grep -ve "^#" | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U

wheel>=0.31


# django 2.0 is waiting for fixing widgets in
# django-extensions (no sooner that 2.0.7)
Django~=2.1

# Configuration
django-environ~=0.4

django-rest-swagger~=2.2

# djangorestframework-filters==0.10.2.post0
git+git://github.com/philipn/django-rest-framework-filters@master

# Crutch. Delete it when the djangorestframework-filters==0.10.3 is released.
django-filter~=2.0

# Forms
django-braces~=1.13
django-crispy-forms==1.7.2

# Models
django-model-utils~=3.1

# Images
Pillow~=5.2

# Password storage
argon2-cffi==18.1.0

# For user registration, either via email or social
# Well-built with regular release cycles!
djangorestframework~=3.8

# Python-PostgreSQL Database Adapter
psycopg2~=2.7

# Unicode slugification
awesome-slugify==1.6.5

# Time zones support
pytz==2018.5

raven>=6.9

gunicorn>=19.9

# Your custom requirements go here

django-storages>=1.6
boto3>=1.9

# shell and other extensions
django-extensions~=2.1

# pdf
xhtml2pdf==0.2.3

# Admin site
django-admin-json-editor>=0.1.5
django-import-export~=1.0
django-map-widgets~=0.2

# telegram
python-telegram-bot>=10.0

# html editor in admin site
django-ckeditor~=5.6

# runserver_plus
Werkzeug==0.12
